<div class="row">
  <%= @tag.name %>
  <% @tag.pictures.each do |picture|%>

  <div class="col-sm-3">
    <h5 align="center"><%= link_to "#{picture.title}", picture_path(picture) %></h5>
    <%= image_tag picture.image_url, class:"img-fluid img-round"%>
  </div>

  <% end %>
</div>
