<div class="row">
  <% @pictures.each do |picture|%>

  <div class="col-sm-3">

  <h2 align="center"><%= link_to "#{picture.title}", picture_path(picture) %></h2>
  <%= image_tag picture.image_url, class:"img-fluid img-round"%>
</div>

  <% end %>
</div>
